<div class="container-fluid bd-white bg-card">
  <div class="row justify-content-center">
    <div>
      <img class="img-fluid" src="../../assets/img/logo.jpg">
    </div>
    <div class="col-md-6 col-12 mt-5">
      <div>
        <h1 class="title">Cadastro</h1>
      </div>
      <form>
        <div class="form-row">
          <!--Primeira verificação de cadastro-->
          <div *ngIf="hideNext == false" class="form-group col-md-12">
            <label for="inputEmail4">E-mail</label>
            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control"
              id="inputEmail" placeholder="Seu email">
          </div>
          <div *ngIf="hideNext == false" class="form-group col-md-12">
            <label for="inputEmail4">Senha</label>
            <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputCpf" placeholder="Sua senha">
          </div>
          <div *ngIf="hideNext == false" class="form-group col-md-12">
            <label for="inputState">Tipo de Cadastro</label>
            <select id="inputState" class="form-control">
              <option selected>Escolha...</option>
              <option>Usuário</option>
              <option>Parceiro</option>
            </select>
          </div>

          <!--Fim Primeira verificação de cadastro-->

          <div *ngIf="isBusiness == 0" class="form-group col-md-12">
            <label for="inputEmail4">Nome</label>
            <input [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputNome" placeholder="Seu nome">
          </div>
          <div *ngIf="isBusiness == 0" class="form-group col-md-12">
            <label for="inputEmail4">CPF</label>
            <input [(ngModel)]="usuario.cpf" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputCpf" placeholder="Seu CPF">
          </div>
          <div *ngIf="isBusiness == 0" class="form-group col-md-12">
            <label for="inputState1">Gênero</label>
            <select id="inputState1" class="form-control">
              <option selected>Escolha...</option>
              <option>Masculino</option>
              <option>Feminino</option>
              <option>Outro</option>
            </select>
          </div>
          <div *ngIf="isBusiness == 0" class="form-group col-md-12">
            <label for="inputDataDeNascimento">Data de nascimento</label>
            <input [(ngModel)]="usuario.dataDeNascimento" [ngModelOptions]="{standalone: true}" type="date" class="form-control"
              id="inputDataDeNascimento" placeholder="Data de Nascimento">
          </div>
          <!--Cadastro Usuario-->
          <!--Cadastro Parceiro-->
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">Nome</label>
            <input [(ngModel)]="parceiro.nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputCnpj" placeholder="Nome da Empresa">
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">CNPJ</label>
            <input [(ngModel)]="parceiro.cnpj" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputCnpj" placeholder="CNPJ da Empresa">
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputState2">Ramo</label>
            <select id="inputState2" class="form-control">
              <option selected>Àrea de atuação</option>
              <option>Indústria</option>
              <option>Comercio</option>
              <option>Serviços</option>
              <option>Outro</option>
            </select>
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">Cep</label>
            <input [(ngModel)]="parceiro.cep" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputEndereço" placeholder="Endereço">
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">Logradouro</label>
            <input [(ngModel)]="parceiro.logradouro" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputEndereço" placeholder="Endereço">
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">Numero</label>
            <input [(ngModel)]="numero" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputEndereço" placeholder="Endereço">
          </div>
          <div *ngIf="isBusiness == 1" class="form-group col-md-12">
            <label for="inputEmail4">Complemento</label>
            <input [(ngModel)]="parceiro.complemento" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              id="inputEndereço" placeholder="Endereço">
          </div>
          <!--Cadastro Parceiro Fim-->
        </div>
        <div class="center">
          <button [routerLinkActive]="['link-active']" [routerLink]="['/']" type="submit"
            class="btn btn-secondary mr-1">Voltar</button>
          <button *ngIf="hideNext == false" type="submit" class="btn btn-primary"
            (click)="proximo()">Continuar</button>
            
          <button [routerLinkActive]="['link-active']" [routerLink]="['/']" *ngIf="isBusiness != null" type="submit" class="btn btn-primary"
            (click)="cadastrarUsuario()">Cadastrar</button>
          <div class="center">
            <a class="linkHover" [routerLinkActive]="['link-active']" [routerLink]="['/']">Já possui login?
              Logar</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
